﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h4>My name is Steve Zarrella, and I built this page to demonstrate Web Scraping using C#.</h4>

<p>I've set up a Yahoo! Finance account, and populated it with a mock portfolio of 11 tech stocks. yAfski will navigate to Yahoo! Finance, log in to this account, navigate to
    my portfolio, and grab data about each position (as well as aggregate portfolio data). It then stores this information in a database, which can also be viewed using yAfski. Below
    is a screenshot of the Yahoo! Finance Portfolio page which yAfski scrapes portfolio data from- scraped data is shown inside the bright green boxes:</p>

<a href="/Content/images/yfinanceport.jpg"><img id="yfp-screenshot" alt="Yahoo! Finance Portfolio Screenshot" src="/Content/images/yfinanceport.jpg"/></a>

<p>In this project, I utilize several technologies that are new to me- including C#, ASP.NET, ASP.NET Core, Linux (Ubuntu), Nginx, Entity Framework, and various libraries that are available in NuGet (most notably Selenium Web Driver). Some of the other technologies I've worked with 
    include Javascript, jQuery, Angular, Node.js, MongoDB, Python.</p>
    
<p>In deployment, Selenium needs a Virtual Machine to run (with an installed browser), and using Microsoft's VM hosting service was going to be on the expensive side. So, in order to keep costs low, I decided to host 
    the actual scraper on a separate Linux-based (Ubuntu 16.04 w/ Nginx) server. When "Get New Snapshot" is clicked, the application makes a 'GET' request to this Linux-based Virtual Machine. 
    This required me to learn how to migrate an ASP.NET application to an ASP.NET Core application, as well as how to set up, secure, and run a Linux-based server. Normally, under these circumstances I would have ported the entire 
    application to .NET Core & run everything on the Linux server. I decided to keep the front-facing interface (with database communication) on Microsoft's Azure Cloud Hosting Platform, and the Selenium-based scraper on the Linux-based 
    Virtual Machine as a demonstration of how different technologies can be made to work together using RESTful APIs.</p>
    
<p>If you'd like more information, or have any feedback or suggestions (greatly appreciated!), please feel free to contact me at <strong><a href="mailto:stevenvz.yafski@gmail.com">stevenvz.yafski@gmail.com</a></strong>.
    Thanks for taking a look at yAfski!</p>
