﻿@{
    ViewBag.Title = "Contact me";
}
<h2>@ViewBag.Title</h2>
<h5>Please feel free to contact me at the email address below - feedback and suggestions are appreciated!</h5>

<address>
    <strong>Email:</strong>   <a href="mailto:stevenvz.yafski@gmail.com">stevenvz.yafski@gmail.com</a><br />
</address>