﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>yAfski</h1>
    <p class="lead">yAfski is a small app for demonstrating basic principles of web scraping. Using a mock Yahoo! Finance portfolio of 11 tech stocks, 
    yAfski uses various .NET technologies & libraries to scrape portfolio data from this mock account. Check out the 'about' section for more information!</p>
    @if (Request.IsAuthenticated)
    {
        <p><a href="/Snapshots" class="btn btn-primary btn-lg">Go to Snapshots &raquo;</a></p>
    }
    else
    {
        <p><a href="Account/Login" class="btn btn-primary btn-lg">Log in &raquo;</a></p>
    }
</div>

<div class="row">
    @if (!Request.IsAuthenticated)
    {
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                Registration is quick and basic.
            </p>
            <p><a class="btn btn-default" href="Account/Register">Register &raquo;</a></p>
        </div>
    }
    <div class="col-md-4">
        <h2>About yAfski</h2>
        <p>For more information, including a visual representation of the data collected, click below.</p>
        <p><a class="btn btn-default" href="Home/About">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact</h2>
        <p>Please feel free to contact me for more information!</p>
        <p><a class="btn btn-default" href="Home/Contact">Contact &raquo;</a></p>
    </div>
</div>