﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Portfolio Snapshots</h2>

<p>
    <button id="new-snapshot" class="btn btn-success"><span class="glyphicon glyphicon-download-alt"></span>  Get New Snapshot</button><img id="loading-circle" src="/Content/images/loading.gif"/>
    <br/>*Getting a new snapshot takes approximately 20 - 30 seconds
</p>

<table id="snapshots" class="table table-hover table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Date/Time</th>
            <th>Total Market Value</th>
            <th>Net Day Gain/Loss $</th>
            <th>Net Day Gain/Loss %</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
{
    <script>
        $("#loading-circle").hide();
        
        $(document).ready(function () {
            $(".new-label").hide();
            var table;

            var dateOptions = {
                year: "numeric",
                month: "numeric",
                day: "numeric",
                hour12: false,
                hour: "2-digit",
                minute: "2-digit",
                second: "2-digit",
                timeZoneName: "short"
            }

            $.getJSON("/api/snapshots",
                function(snapshotsData) {
                    table = $("#snapshots").DataTable({
                        data: snapshotsData,
                        rowId: "Id",
                        "order": [[0, 'desc']],
                        columns: [
                            {
                                data: {
                                    AsOf: "AsOf",
                                    Id: "Id"
                                },
                                render: function (data) {
                                    var date = new Date(data.AsOf).toLocaleTimeString("en-US", dateOptions);
                                    var dateSort = (new Date(data.AsOf)).toISOString().replace(/[^0-9]/g, "");
                                    return "<span class='hidden-date-sort'>" + dateSort + "</span><a href='Snapshots/Details/" + data.Id + "'>" + date + " " + "<span class='label label-success new-label' id='new-label-" + data.Id + "'>New</span></a>";
                                }
                            },
                            {
                                data: "CurrentMarketValue",
                                render: $.fn.dataTable.render.number( ',', '.', 2, '$' )
                            },
                            {
                                data: "NetDayGainDollars",
                                render: $.fn.dataTable.render.number(',', '.', 2, '$')
                            },
                            {
                                data: "NetDayGainPercent",
                                render: function(data) {
                                    return data + "%";
                                }
                            }
                        ]
                    });
                    $(".new-label").hide();
                });

            var newButton = $("#new-snapshot");
            newButton.click(function () {
                $(this).attr("disabled", true);
                $(".new-label").hide();
                $("#loading-circle").show();
                $("#new-badge").remove();
                $.getJSON("/api/newsnapshot",
                    function(newData) {
                        table.row.add(newData).order([[0, 'desc']]).draw();
                        $('#new-label-' + newData.Id).show();
                        $("#loading-circle").hide();
                        $("#new-snapshot").attr("disabled", false);
                    });
            });

            $(".hidden-date-sort").hide();
        });
    </script>
}