﻿@model yafski.ViewModels.SnapshotIdViewModel
@{
    ViewBag.Title = "Snapshot";
}

<h2>Portfolio Snapshot</h2>
<h3 id="heading"></h3>

<p>
    <a class="btn btn-primary button-link" href="/Snapshots"><span class="glyphicon glyphicon-menu-left"></span> Back to Snapshot List</a>
</p>

<h4>Summary:</h4>

<table id="summary" class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Total Market Value</th>
            <th>Net Day Gain $</th>
            <th>Net Day Gain %</th>
            <th>Net Total Gain $</th>
            <th>Net Total Gain %</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<h4>Positions:</h4>

<table id="positions" class="table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>
        <th>Symbol</th>
        <th>Market Value</th>
        <th>Price Change $</th>
        <th>Price Change %</th>
        <th>Day Gain $</th>
        <th>Day Gain %</th>
        <th>Shares</th>
        <th>Cost Basis</th>
        <th>Total Gain $</th>
        <th>Total Gain %</th>
        <th>Lot Count</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts
{
    <script>
        var url = "/api/snapshots/" + @Model.Id;
        
        $(document).ready(function () {
            $.getJSON(url, function (snapshotData) {

                var summary = [{
                    cmv: snapshotData.CurrentMarketValue,
                    ndgd: snapshotData.NetDayGainDollars,
                    ndgp: snapshotData.NetDayGainPercent,
                    ntgd: snapshotData.NetTotalGainDollars,
                    ntgp: snapshotData.NetTotalGainPercent
                }];

                var snapTime = new Date(snapshotData.AsOf);
                var dateOptions = {
                    weekday: "long",
                    year: "numeric",
                    month: "long",
                    day: "numeric",
                    hour: "2-digit",
                    minute: "2-digit",
                    second: "2-digit",
                    timeZoneName: "short"
                }

                $("#heading").text("as of " + snapTime.toLocaleTimeString("en-us", dateOptions));

                $("#summary").dataTable({
                    paging: false,
                    info: false,
                    searching: false,
                    ordering: false,
                    data: summary,
                    columns: [
                        {
                            data: "cmv",
                            render: $.fn.dataTable.render.number(',', '.', 2, '$')
                        },
                        {
                            data: "ndgd",
                            render: $.fn.dataTable.render.number(',', '.', 2, '$')
                        },
                        {
                            data: "ndgp",
                            render: function (data) {
                                return data + "%";
                            }
                        },
                        {
                            data: "ntgd",
                            render: $.fn.dataTable.render.number(',', '.', 2, '$')
                        },
                        {
                            data: "ntgp",
                            render: function (data) {
                                return data + "%";
                            }
                        }
                    ]
                });

                var positions = snapshotData.StockPositions;
                $("#positions").DataTable({
                    data: positions,
                    columns: [
                        { data: "Symbol" },
                        {
                            data: "CurrentPrice",
                            render: $.fn.dataTable.render.number(',', '.', 2, '$')
                        },
                        {
                            data: "PriceChangeDollars",
                            render: $.fn.dataTable.render.number(',', '.', 2, '$')
                        },
                        {
                            data: "PriceChangePercent",
                            render: function(data) {
                                return data + "%";
                            }
                        },
                        {
                            data: "DayGainDollars",
                            render: $.fn.dataTable.render.number(',', '.', 2, '$')
                        },
                        {
                            data: "DayGainPercent",
                            render: function (data) {
                                return data + "%";
                            }
                        },
                        { data: "Shares" },
                        {
                            data: "CostBasis",
                            render: $.fn.dataTable.render.number(',', '.', 2, '$')
                        },
                        {
                            data: "TotalGainDollars",
                            render: $.fn.dataTable.render.number(',', '.', 2, '$')
                        },
                        {
                            data: "TotalGainPercent",
                            render: function (data) {
                                return data + "%";
                            }
                        },
                        { data: "LotCount" }
                    ]
                });
            });
            

        });
    </script>
    
}