﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.button-link {
    color: #fff;
    text-decoration: none;
}

.get-snapshot-bar {
    width: 25%;
    height: 10px;
}

.new-row {
    background-color: #8bffb1 !important;
}

.badge-success {
    background-color: green;
}

#loading-circle {
    height: 37px;
    margin-left: 12px;
}

#yfp-screenshot {
    height: 400px;
    margin: 15px;
}

.hidden-date-sort {
    display: none;
}

.new-label {
    display: none;
}

#ssl-warning {
    color: red;
}

#server-down-warning {
    color: red;
}